<ul class="sectionCard">
    <% for( let i = 0; i < mostwanted.length; i++ ) { %>
        <a class="linkCard" href=<%= `/product/${mostwanted [i]._id}` %>>
            <li class="card">
                <img class="cardImg" src=<%=mostwanted [i].image %> alt=<%= mostwanted[i].title%>>
                <article class="cardText">
                    <div class="descriptionCard">
                        <h4><%= mostwanted [i].title  %></h4>
                    </div>
                    <div class="priceCard">
                        <span><%= mostwanted [i].price  %> </span>
                        <span>PUNTOS</span>
                    </div>
                </article>
            </li>
        </a>
    <% } %>
</ul>