<ul class="sectionCard">
    <% for( let i = 0; i < 4; i++ ) { %>
        <a class="linkCard" href=<%= `/product/${suggested [i]._id}` %>>
            <li class="card">
                <img class="cardImg" src=<%=suggested [i].image %>  alt=<%= suggested [i].title  %>>
                <article class="cardText">
                    <div class="descriptionCard">
                        <h4><%= suggested [i].title  %></h4>
                    </div>
                    <div class="priceCard">
                        <span><%= suggested [i].price  %> </span>
                        <span>PUNTOS</span>
                    </div>
                </article>
            </li>
        </a>
    <% } %>
</ul>