<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body class="homeBody">
<<<<<<< HEAD
    <%- include('../partials/header1.ejs') %> 
    <%- include("../partials/menuPrincipal.ejs") %> 
=======
    <%- include('../partials/header1.ejs') %>
>>>>>>> f9e8fae54b3d0771399e4b781e2d7f929358a54c
    <div class="menuCategoriesTop">
        <%- include('../partials/categories.ejs') %> 
    </div>
    <%- include('../partials/adCard.ejs') %>
    <main class="containerMain">
        <input type="button" id="themeButton" value="darkMode">
        <section class="sectionInteres">
            <p class="titleSectionProducts">Te puede interesar</p>
            <%- include('../partials/suggestedCard.ejs') %>
        </section>
        <section class="sectionInteres">
            <p class="titleSectionProducts">Los más pedidos</p>
            <article class="blockProducts">
                <%- include('../partials/mostWanted.ejs') %>
            </article>
        </section>
    </main>
    <div class="menuCategoriesBot">
        <%- include('../partials/categories.ejs') %> 
    </div>
    <div class="footerContainer">
        <%-include('../partials/footer.ejs') %>
    </div>
</body>
</html>