<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="product-body">
    <%- include('../partials/header1.ejs') %>

    <main class="main-products-container-wide">
        <div class="main-products-container-tight">
            <nav class="navigation-container">
                <div>
                    <a class="anchor-return" href="/"><img src="/images/flecha_return.svg" alt="return to list">Volver al listado</a>
                </div>
                
                
                <div class="nav-bar">
                    <ul class="navigation">
                        <li><a class="nav-category" href="/">
                            <img src="/images/flecha_der.svg" alt="right arrow">
                            Alimentos</a></li>
                    </ul>
                </div>
            
            </nav>
            <section class="main-product-box">

                <div class="left-side-img-container">
                    <figure class="image1-container">
                        <img class="image-1"
                            <% if(product.image){%>
                                src=<%= `${product.image}` %>
                            <% }else{ %>
                                src="/../../media/card/fallback-image.jpg"
                            <% } %>

                            alt=<%= `${product.title}` %>
                        
                        >
                    </figure>
                    <figure class="image2-container">
                        <img class="image-2"
                        
                            <% if(product.image){%>
                                src=<%= `${product.image}` %>
                            <% }else{ %>
                                src="/../../media/card/fallback-image.jpg"
                            <% } %>

                            alt=<%= `${product.title}` %>
                        
                        >
                    </figure>
                    <figure class="image3-container">
                        <img class="image-3"
                        
                            <% if(product.image){%>
                                src=<%= `${product.image}` %>
                            <% }else{ %>
                                src="/../../media/card/fallback-image.jpg"
                            <% } %>

                            alt=<%= `${product.title}` %>
                        
                        >
                    </figure>
                </div>
                <figure class="main-picture-container">
                    <img class="main-image"

                        <% if(product.image){%>
                            src=<%= `${product.image}` %>
                        <% }else{ %>
                            src="/../../media/card/fallback-image.jpg"
                        <% } %>

                        alt=<%= `${product.title}` %>
                    >
                </figure>
                <div class="right-description-container">
                    <h2 class="product-title"><%= `${product.title}` %><h2>
                    <p class="points"><%= `${product.price}` %></p><p class="points-text">PUNTOS</p>
                    <input class= "add-cart-button" type="button" value="Agregar al Carrito">
                    <div class="text-description-container">
                        <p class="text"><%= `${product.description}` %></p>
                    </div>
                </div>
            </section>
        </div>
    </main>

  <section class="suggestions-section-wide">
    <div class="suggestions-section-tight">
        <h3 class="titleSectionProducts">Te puede interesar</h3>
        <%- include('../partials/jackDanielsCard.ejs') %>
    </div>
  </section>

    <div class="menuCategoriesBot">
        <%- include('../partials/categories.ejs') %> 
    </div>

    <div class="footerContainer">
        <%-include('../partials/footer.ejs') %>
    </div>

  
</body>



</html>