<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="loginForm">

    <%- include("../partials/header")%>
    <main class="formTarjeta">
      <form class="login" action="/users/register" method="post" novalidate>
        <ul>
          <li><h2>¡Registrate!</h2></li>
          <li>
            <input
              class="entradita"
              type="email"
              placeholder="Tu email"
              name="email"
              value="<%= locals.old && old.email ? old.email : ''%>"
              
            />
          </li>
          <li>
            <input
              class="entradita"
              id="password1"
              type="password"
              placeholder="Tu nueva contraseña"
              name="password1"
              value="<%= locals.old && old.password1 ? old.password1 : ''%>"
            />
          </li>
          <li>
            <input
              class="entradita"
              id="password2"
              type="password"
              placeholder="Repite tu contraseña"
              name="password2"
              value="<%= locals.old && old.password2 ? old.password2 : ''%>"
            />
          </li>
          <span class="errors">
            <ul class="list-errors">


            </ul>
          </span>
          <% if (locals.errors) { %> <% errors.forEach(error =>{%>
            <p class="error-msg">*<%= error.msg %></p>
          <%}) %> <% } %>
          <li>
            <a href="/"
              ><button type="submit" class="boton">Crear Cuenta</button></a
            >
          </li>
        </ul>
      </form>
      <div class="enlace">
        <p>¿Ya tienes cuenta?<a href="login">Iniciar sesión</a></p>
      </div>
    </main>
    <div class="footerContainer-1"><%-include('../partials/footer.ejs') %></div>

    <script src="/js/eventsCaro.js"></script>
  </body>
</html>
